@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > header{
  background-color: rgb(197, 3, 3);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0;
}

.container{
  align-items: center;
  display: flex;
  width: 1366px;
  margin: 0 auto;
  justify-content: space-between;
  
}

header li{
  display: inline;
  font-weight: 600;
  padding-left: 10px;
}

header li a{
  color: white;
  text-decoration: none;
}

main{
  margin: 0 auto;
  width: 45%;
}

.articles article img{
  height: 190px;
  border-radius: 3%;
  box-shadow: 0px 5px 15px rgb(223, 223, 223);
}


.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.articles article{
  width: 45%;
}

section h2{
  font-size: 22.5pt;
  margin-top: 30px;
  margin-bottom: 10px;
}

header > h4{
  font-size:13pt;
  margin-top: 15px;
  margin-bottom: 5px;
}

time{
  font-size: 8pt;
}

p{
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}
.articles article a{
  background-color: rgb(161, 1, 1);
  color: white;
  padding: 5px;
  display: inline-block;
  font-size: 11pt;
  text-decoration: none;
  margin-top: 5px;
}

hr{
  margin-top: 40px;
}

#sports{
  background-color: rgb(183, 217, 255);
}

#sports .articles article a{
  background-color: rgb(67, 81, 97);
}

#economy{
  background-color: rgb(224, 224, 224);
}

#economy .articles article a{
  background-color: rgb(59, 59, 59);
}

#games{
  background-color: rgb(217, 177, 255);
}

#games .articles article a{
  background-color: rgb(84, 26, 138);
}

#entertainment{
  background-color: rgb(255, 215, 141);
}

#entertainment .articles article a{
  background-color: rgb(97, 63, 0);
}

section{
  padding: 16px 16px;
}




